@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #4D3EFC;
    --secondary-color: #e7e4ff;
    --grey: #212529;
    --light-grey: #212529e1;
    --standard-transition: 0.2s;
}

* {
    font-family: "Roboto";
    font-weight: 400;
}

::selection {
    background-color: var(--secondary-color);
}

/*
body{
    background-color: #838383;
    color: white;
}
*/

nav .container span:hover {
    color: var(--primary-color);
}

a.nav-link:hover span {
    color: var(--primary-color);
    transition: var(--standard-transition);
}

nav :nth-child(n){
    font-family: "Expletus Sans";
}
nav .titulo {
    color: var(--secondary-color);
}

form .btn {
    color: white !important;
    background-color: var(--grey);
    border: none;
}

form .btn:hover {
    background-color: var(--primary-color);
    transition: var(--standard-transition);
}

.dropdown .btn,
header .btn,
a.back-link .btn {
    color: white;
    border: 0;
}

.dropdown .btn:hover,
header .btn:hover,
a.back-link .btn:hover {
    background-color: var(--primary-color);
}

div.d-block.d-sm-none button{
    background-color: var(--light-grey);    
}
