@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

nav .container span{
    font-size: 20px;
    font-family: "Expletus Sans";
    font-weight: 500;    
    color: black;
}

nav .container .titulo{
    color: #4D3EFC;
}